{% extends "layout.html" %}

{% block main %}

    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">CivicPulse</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Real-time infrastructure anomaly detection for the modern city. 
                Report hazards, track resolution, and improve urban safety in seconds.
            </p>
            
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                
                <a href="{{ url_for('register') }}" class="btn btn-primary btn-lg px-4 gap-3">
                    Get Started
                </a>                
                
                <a href="{{ url_for('login') }}" class="btn btn-outline-secondary btn-lg px-4">
                    Login Here
                </a>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5" id="icon-grid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 py-5">
            <div class="col d-flex align-items-start">
                <div>
                    <h4 class="fw-bold mb-0">Real-time Data</h4>
                    <p>Live updates on infrastructure failures as they happen.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div>
                    <h4 class="fw-bold mb-0">Geo-Tagging</h4>
                    <p>Precise location tracking for faster response teams.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div>
                    <h4 class="fw-bold mb-0">Friendly Interface</h4>
                    <p>A clean, intuitive interface that makes navigating CivicPulse effortless</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}