{% extends "layout.html" %}

{% block main %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body p-4">
                        <h2 class="text-center mb-4 fw-bold">Login</h2>
                        
                        <form action="/login" method="post">
                            {% if error == "Invalid Username or Password" %}
                                <div class="alert alert-danger text-center mb-3">
                                    {{ error }}
                                </div>
                            {% endif %}
                    
                            <div class="mb-3">
                                <input autocomplete="off" autofocus class="form-control {% if error == 'Invalid Username' %}is-invalid{% endif %}" name="username" placeholder="Username" type="text" >
                                {% if error == "Invalid Username" %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endif %}                            
                            </div>


                            <div class="mb-3">
                                <input class="form-control {% if error == 'Invalid Password' %}is-invalid{% endif%}" name="password" placeholder="Password" type="password" >
                                {% if error == "Invalid Password" %}
                                    <div class ="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit">login</button>
                            </div>
                        </form>
                        
                        <div class="text-center mt-3">
                            <small>Don't have an account? <a href="{{ url_for('register') }}" class="text-civic">register</a></small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}